.home-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-iframe {
  width: 1199px;
  height: 1004px;
}
@media(max-width: 991px) {
  .home-iframe {
    width: 991px;
    height: 1007px;
  }
}
@media(max-width: 767px) {
  .home-iframe {
    width: 767px;
    height: 993px;
  }
}
@media(max-width: 479px) {
  .home-iframe {
    width: 320px;
    height: 1023px;
    padding-bottom: 28px;
  }
}
